In [24]:
import pandas as pd
import numpy as np
import os

# ラベルの時間とフレーム数を合わせる

In [37]:
text = pd.read_csv('../Annotations/fine_anno_txt/Baun-Augustyn-GrpG-LondonOlympics-2012.txt', delimiter='\t', sep='', header=None, usecols=[2,3,5], names=["start", "end", "label"])

In [38]:
# 時間の単位はミリ秒
text.head()

    start     end label
0  324290  330800     n
1  330800  332440   spb
2  332440  333019  bhpt
3  333019  334456  rtpb
4  334460  335890     n

In [39]:
action_labels = pd.read_csv('./labels.txt', header=None, sep = '\t')
action_index = {l:i for i,l in enumerate(action_labels[0])}
action_index

{'bhpb': 6,
 'bhpt': 5,
 'fhpb': 8,
 'fhpt': 7,
 'lbpb': 10,
 'lbpt': 9,
 'n': 0,
 'rtpb': 4,
 'rtpt': 3,
 'smpb': 2,
 'smpt': 1,
 'spb': 12,
 'spt': 11}

In [43]:
annos = np.ones(len(text["label"]))
for i in range(len(annos)):
    annos[i] = action_index[text["label"][i]]
labels = pd.Series(annos, name="label_num")
anno_num = pd.concat([text["start"], text["end"], labels], axis=1)

In [33]:
start_time = np.array(text["start"])
end_time = np.array(text["end"])

In [41]:
images = np.array(range(8290, 46332))
images_list = images*40
images_list.shape

(38042,)

In [45]:
labels_frame = np.zeros(len(images_list))
for i, frame in enumerate(images_list):
    idx = np.nonzero((start_time <= frame) * (frame < end_time))[0]
    if len(idx) > 0:
        labels_frame[i] = anno_num["label_num"][idx]
    else:
        labels_frame[i] = "NaN"

In [46]:
labels_frame.shape

(38042,)

In [50]:
images_list = pd.Series(images_list, name="Frame")
labels_frame = pd.Series(labels_frame, name="Label")
frame_labels = pd.concat([images_list, labels_frame], axis=1, )

In [53]:
# NaNを除去する
true_labels = frame_labels.dropna()
true_labels.shape

(13799, 2)

In [54]:
true_labels

         Frame  Label
0       331600   12.0
1       331640   12.0
2       331680   12.0
3       331720   12.0
4       331760   12.0
5       331800   12.0
6       331840   12.0
7       331880   12.0
8       331920   12.0
9       331960   12.0
10      332000   12.0
11      332040   12.0
12      332080   12.0
13      332120   12.0
14      332160   12.0
15      332200   12.0
16      332240   12.0
17      332280   12.0
18      332320   12.0
19      332360   12.0
20      332400   12.0
21      332440    5.0
22      332480    5.0
23      332520    5.0
24      332560    5.0
25      332600    5.0
26      332640    5.0
27      332680    5.0
28      332720    5.0
29      332760    5.0
...        ...    ...
36559  1793960    0.0
36560  1794000    0.0
36561  1794040    0.0
36562  1794080    0.0
36563  1794120    0.0
36564  1794160    0.0
36565  1794200    0.0
36566  1794240    0.0
36567  1794280    0.0
36568  1794320    0.0
36569  1794360    0.0
36570  1794400    0.0
36571  1794440    0.0
36572  1794480    0.0
36573  1794520    0.0
36574  1794560    0.0
36575  1794600    0.0
36576  1794640    0.0
36577  1794680    0.0
36578  1794720    0.0
36579  1794760    0.0
36580  1794800    0.0
36581  1794840    0.0
36582  1794880    0.0
36583  1794920    0.0
36584  1794960    0.0
36585  1795000    0.0
36586  1795040    0.0
36587  1795080    0.0
36588  1795120    0.0

[13799 rows x 2 columns]